//mainheader
#mainheader {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    .banner-1 {
       img {
        height: 100px;
       }
    }
    .banner-2 {
        width: 90%;

        .banner-2-flex {
            display: block;
            margin: 0 auto;
            text-align: center;
            img {
                width: 110%;
            }
            .logo {
                width: 100%;
            }
            .subnav {
                display: inline-block;
            }
        }
    }
    .navbar {
        display: block;
        text-align: center;
        margin: 0 auto;
        ul {
            text-align: center;
            margin: 0 auto;
            li {
            margin: 0 auto;
            }
            }
    }
}

//showcase
#showcase {
    .showcase-row {
        display: block;
        margin: 0 auto;
       .flexbox-1, .flexbox-2, .flexbox-3 {
        margin: 0 auto;
        margin-bottom: 2rem;
          a {
            margin: 0;
            margin-top: 20rem;
          } 
       }
    }
}

//banner-3
#banner-3 {
    img {
        width: 100%;
        // height: 100px;
    }
}

//panels
#panels {
    .container {
        display: block;
        .contenedor {
            .panel-left {
                display: block;
            }
        }
        .panel-rigth {
            .panel-rigth-content {
                .img-content { 
                        width: 100%;   
                }
            }
        }
    }
}

//panels2
#panels2 { 
    .container {
        display: block;
        width: 100%;
        margin: 0 auto;
        .contenedor {
            .panel-left2 {
             img {
                width: 100%;
             }
                .panel-left2-flex  {
                    .flex {
                        display: block;
                        img {
                            width: 100%;
                        }
                    }
                }
                .flexbox-content {
                    p {
                        text-align: justify;
                    }
                }
            }
        }
        .panel-rigth {
            width: 100%;
                .panel-rigth-content {
                    h2 {
                        width: 200px;
                    }
                    .img-content { 
                            width: 100%;   
                    }
                    .recent-post-flex {
                        .flex {
                            margin-bottom: 1rem;
                            img {
                                width: 30%;
                            }

                        }
                    }
                }
            // .panel-rigth-content {
            //     h2 {
            //         width: 200px;
            //     }
            //     .img-content { 
            //             width: 440px;   
            //     }
            //     .recent-post-flex {
            //         .flex {
            //             img {
            //                 width: 70%;
            //             }
            //             .flexbox {
            //                 a {
            //                     width: 150px;
            //                 }
            //             }
            //         }
            //     }
            // }
        }
    }
}