@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}

ul {
  list-style: none;
}

.p-justify {
  text-align: justify;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: violet;
}

.subtitle {
  font-size: 1.5rem;
  text-align: left;
  font-weight: 500;
  margin: 2rem 0;
}

.title {
  font-size: 3rem;
  text-align: left;
  font-weight: 300;
  margin: 2rem 0;
}

.flex {
  display: flex;
  flex: 1;
  gap: 50px;
}

.btn {
  display: block;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-1 {
  background: blue;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-1:hover {
  background: rgb(73, 73, 247);
}

.btn-2 {
  background: orangered;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-2:hover {
  background: rgb(246, 116, 68);
}

.btn-3 {
  display: block;
  padding: 10px 20px;
  text-align: center;
  color: orangered;
  border: 1px solid orangered;
  border-radius: 4px;
  cursor: pointer;
}

.btn-3:hover {
  background: yellow;
  border: none;
}

form .form-group {
  margin-bottom: 1rem;
}
form .form.control {
  display: block;
  padding: 1rem;
  border-radius: 4px;
}
form button {
  width: 100%;
}

#mainheader {
  width: 90%;
  margin: 0 auto;
}
#mainheader .banner-1 img {
  width: 100%;
  margin: 1rem 0;
}
#mainheader .banner-2 .banner-2-flex {
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
#mainheader .banner-2 .banner-2-flex .subnav {
  text-align: end;
  margin-top: 1rem;
}
#mainheader .banner-2 .banner-2-flex .subnav .form-inline {
  display: inline;
}
#mainheader .banner-2 .banner-2-flex .subnav .form-inline input {
  padding: 10px;
}
#mainheader .banner-2 .banner-2-flex .subnav .form-inline ::-moz-placeholder {
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
#mainheader .banner-2 .banner-2-flex .subnav .form-inline ::placeholder {
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
#mainheader .banner-2 .banner-2-flex .subnav .form-inline .btn-outline-dark {
  width: 50px;
  height: 40px;
}
#mainheader .navbar {
  padding: 2rem 0;
}
#mainheader .navbar ul {
  display: flex;
}
#mainheader .navbar li {
  text-align: left;
  margin-left: 1rem;
}

#showcase {
  width: 90%;
  margin: 0 auto;
}
#showcase .showcase-row .flexbox-1 {
  background: url("/img/illustration-01.jpg");
  padding: 2rem;
}
#showcase .showcase-row .flexbox-1 a {
  margin-top: 17rem;
}
#showcase .showcase-row .flexbox-1 h2 {
  margin-top: 1rem;
  color: #fff;
}
#showcase .showcase-row .flexbox-2 {
  background: url("/img/illustration-02.jpg");
  padding: 2rem;
}
#showcase .showcase-row .flexbox-2 a {
  margin-top: 17rem;
}
#showcase .showcase-row .flexbox-2 h2 {
  margin-top: 1rem;
  color: #fff;
}
#showcase .showcase-row .flexbox-3 {
  background: url("/img/illustration-03.png");
  padding: 2rem;
}
#showcase .showcase-row .flexbox-3 a {
  margin-top: 17rem;
}
#showcase .showcase-row .flexbox-3 h2 {
  margin-top: 1rem;
  color: #fff;
}
#showcase .showcase-row .flexbox-1, #showcase .showcase-row .flexbox-2, #showcase .showcase-row .flexbox-3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#banner-3 {
  width: 90%;
  padding: 2rem 0;
  text-align: center;
  margin: 0 auto;
}
#banner-3 img {
  width: 100%;
}

#panels {
  width: 90%;
  margin: 0 auto;
}
#panels .panel-left .flexbox img {
  width: 100%;
}
#panels .panel-left .flexbox .btn {
  margin: 1rem 0;
}
#panels .panel-left .flexbox p {
  margin: 1rem 0;
}
#panels .panel-rigth .panel-rigth-content h2 {
  margin-bottom: 1rem;
  font-weight: 300;
}
#panels .panel-rigth .panel-rigth-content .categories {
  margin: 1rem 0;
}
#panels .panel-rigth .panel-rigth-content .list-categories {
  padding: 1rem;
}
#panels .panel-rigth .panel-rigth-content .list-categories li {
  margin-bottom: 1rem;
}
#panels .panel-rigth .panel-rigth-content .list-categories li:hover {
  text-decoration: underline;
}
#panels .panel-rigth .panel-rigth-content .recent-post-flex {
  flex-direction: column;
}
#panels .panel-rigth .panel-rigth-content .recent-post-flex img {
  width: 30%;
  margin-bottom: 2rem;
}
#panels .panel-rigth .panel-rigth-content .recent-post-flex a {
  font-size: 12px;
}
#panels .panel-rigth .panel-rigth-content .recent-post-flex a:hover {
  text-decoration: underline;
}
#panels .panel-rigth .panel-rigth-content .recent-post-flex h4 {
  margin-top: 1rem;
  font-size: 12px;
}

#panels2 {
  width: 90%;
  margin: 0 auto;
}
#panels2 .container {
  gap: 150px;
}
#panels2 .container .contenedor .panel-left2 .panel-left2-flex .flex {
  margin-bottom: 2rem;
}
#panels2 .container .contenedor .panel-left2 .panel-left2-flex .flex img {
  width: 50%;
}
#panels2 .container .contenedor .panel-left2 .panel-left2-flex .flex p {
  margin: 1rem 0;
  text-align: justify;
}
#panels2 .panel-rigth {
  width: 40%;
}
#panels2 .panel-rigth .panel-rigth-content .recent-post-flex {
  flex-direction: column;
}
#panels2 .panel-rigth .panel-rigth-content .recent-post-flex img {
  width: 25%;
  margin-bottom: 2rem;
}
#panels2 .panel-rigth .panel-rigth-content .recent-post-flex a {
  font-size: 12px;
}
#panels2 .panel-rigth .panel-rigth-content .recent-post-flex a:hover {
  text-decoration: underline;
}
#panels2 .panel-rigth .panel-rigth-content .recent-post-flex h4 {
  margin-top: 1rem;
  font-size: 12px;
}
#panels2 .panel-rigth .panel-rigth-content h2 {
  margin-bottom: 1rem;
  font-weight: 300;
}
#panels2 .panel-rigth .panel-rigth-content .categories {
  margin: 1rem 0;
}
#panels2 .panel-rigth .panel-rigth-content .list-categories {
  padding: 1rem;
}
#panels2 .panel-rigth .panel-rigth-content .list-categories li {
  margin-bottom: 0.5rem;
}
#panels2 .panel-rigth .panel-rigth-content .list-categories li:hover {
  text-decoration: underline;
}

#contact form .flexbox {
  flex: 1;
}

#footer {
  text-align: center;
  padding: 3rem 0;
}/*# sourceMappingURL=styles.css.map */