@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack:"Montserrat", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $font-stack;
    scroll-behavior: smooth;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    overflow: auto;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}

ul {
    list-style: none;
}

.p-justify {
    text-align: justify;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: violet;
}

.subtitle {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 500;
    margin: 2rem 0;
}

.title {
    font-size: 3rem;
    text-align: left;
    font-weight: 300;
    margin: 2rem 0;
}

.flex {
    display: flex;
    flex: 1;
    gap: 50px;
}

.btn {
    display: block;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-1 {
    background: blue;
    width: fit-content;
}

.btn-1:hover {
    background: rgb(73, 73, 247);
}

.btn-2 {
    background: orangered;
    width: fit-content;
}

.btn-2:hover {
    background: rgb(246, 116, 68);
}

.btn-3 {
    display: block;
    padding: 10px 20px;
    text-align: center;
    color: orangered;
    border: 1px solid orangered;
    border-radius: 4px;
    cursor: pointer;
}

.btn-3:hover {
    background: yellow;
    border: none;
}

form {
    .form-group {
        margin-bottom: 1rem;
    }
    .form.control {
        display: block;
        padding: 1rem;
        border-radius: 4px;
    }
    button {
        width: 100%;
    }
}

// img {
//     max-width: 100%;
// }

//mainheader
#mainheader {
    width: 87%;
    margin: 0 auto;
    .banner-1 {
        img {
            width: 100%;
            margin: 1rem 0;
        }
    }
    .banner-2 {
        width: 95%;
        margin: 0 auto;
        .banner-2-flex {
            justify-content: space-between;
            .subnav {
                text-align: end;
                margin-top: 1rem;
                .form-inline {
                    display: inline;
                    input {
                        padding: 10px;
                    }
                    ::placeholder {
                        text-align: left;
                        font-family: "Montserrat", sans-serif;
                    }
                  .btn-outline-dark {
                    width: 50px;
                    height: 40px;
                  }
                }
            }
        }
    }
    .navbar {
    
        padding: 2rem 0;
        ul {
            display: flex;
        }
        li {
            text-align: left;
            margin-left: 1rem;
        }
    }
}

//showcase
#showcase {
    width: 90%;
    margin: 0 auto;
    .showcase-row {
        .flexbox-1 {
            background: url("/img/illustration-01.jpg");
            padding: 2rem;
            a {
                margin-top: 17rem;
            }
            h2 {
                margin-top: 1rem;
                color: #fff;
            }
        }
        .flexbox-2 {
            background: url("/img/illustration-02.jpg");
            padding: 2rem;
            a {
                margin-top: 17rem;
            }
            h2 {
                margin-top: 1rem;
                color: #fff;
            }
           
        }
        .flexbox-3 {
            background: url("/img/illustration-03.png");
            padding: 2rem;
            a {
                margin-top: 17rem;
            }
            h2 {
                margin-top: 1rem;
                color: #fff;
            }
        }
        .flexbox-1, .flexbox-2, .flexbox-3 {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 30%;
                height: 70dvh;

        }
    }
}

#banner-3 {
    width: 90%;
    padding: 2rem 0;
    text-align: center;
    margin: 0 auto;
        img {
            width: 100%;

        }
    

}

//panels
#panels {
    width: 90%;
    margin: 0 auto;
    .panel-left {

        .flexbox {
            img {
                width: 100%;
            }
            .btn {
                margin: 1rem 0;
            }
            p {
                margin: 1rem 0;
            }
        }
    }
    .panel-rigth {
        .panel-rigth-content {
            .recent-post-flex {
                flex-direction: column;
                img {
                    width: 30%;
                    margin-bottom: 2rem;
                }
            }
        }
    }
    .panel-rigth {
        .panel-rigth-content {
            h2 {
                margin-bottom: 1rem;
                font-weight: 300;
            }
            .categories {
                margin: 1rem 0;
            }
            .list-categories {
                padding: 1rem;
                li {
                    margin-bottom: .5rem;
                }
            }
        }
    }
}

//panels
#panels2 {
    width: 85%;
    margin: 0 auto;
    .panel-left2 {
        flex: 3;
        margin-bottom: 2rem;
            img {
                width: 50%;
                height: 60%;
            }
            p {
                text-align: justify;
                margin-bottom: 1rem;
            }
    }
    .panel-rigth2 {
        flex: 1;
        .panel-rigth-content {
            .recent-post-flex {
                flex-direction: column;
                img {
                    width: 30%;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

//contact
#contact {
    form {
        .flexbox {
            flex: 1;
        }
    }
}

//footer 
#footer {
    text-align: center;
    padding: 3rem 0;
}